<div class="container{% unless section.settings.full_width %} container--reading-width{% endunless %}" {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
  {%- if section.settings.show_page_title -%}
    <div class="page-header">
      <h1 class="majortitle">¡Te contactaremos pronto!</h1>
      <p id="personal-message"></p>
    </div>
  {%- endif -%}

  <div id="cart-details"></div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // 1. Retrieve data from localStorage
    const storedCartData = localStorage.getItem('cartDataForThankYouPage');
    const storedCustomerData = localStorage.getItem('customerDataForThankYouPage');

    // 2. Display personalized message
    if (storedCustomerData) {
      const customerData = JSON.parse(storedCustomerData);
      
      const messageDiv = document.getElementById('personal-message');
      
      const phoneNumber = '56961722802';
      const message = encodeURIComponent('Hola, me gustaría cotizar un evento. Mi nombre es ' + customerData.full_name);
      let whatsappLink;
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        // This is a mobile device, use the wa.me link to open the app
        whatsappLink = `https://wa.me/${phoneNumber}?text=${message}`;
      } else {
        // This is a desktop device, use the web.whatsapp link
        whatsappLink = `https://web.whatsapp.com/send/?phone=${phoneNumber}&text=${message}`;
      }
      const whatsappLink = 'https://api.whatsapp.com/send/?phone=56961722802';
      const phoneLink = 'tel:+56961722802';
      
      const messageHTML = `
        Querido ${customerData.full_name},
        te enviaremos un correo electrónico de confirmación a <i>${customerData.email}</i>, no olvides revisar tu carpeta de correo no deseado.
        <br><br>
        si necesitas una cotización urgente puedes escribirnos al <a href="${whatsappLink}">WhatsApp</a> o hacer una <a href="${phoneLink}">llamar al +56961722802</a>.
        <hr>
      `;
      
      messageDiv.innerHTML = messageHTML;

      console.log("-------------");
      console.log(customerData);
      console.log("-------------");
    }

    // 3. Display cart details (your existing logic)
    if (storedCartData) {
      const cartData = JSON.parse(storedCartData);
      const cartDetailsDiv = document.getElementById('cart-details');
      
      if (cartData && cartData.items && cartData.items.length > 0) {
        let htmlContent = '<h2>Your Order Details</h2><ul>';
        cartData.items.forEach(item => {
          htmlContent += `<li>${item.title} (${item.quantity})</li>`;
        });
        htmlContent += '</ul>';
        cartDetailsDiv.innerHTML = htmlContent;
      } else {
        cartDetailsDiv.innerHTML = '<p>No cart details available.</p>';
      }

      // 4. Clear the cart
      fetch('/cart/clear.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
      }).then(response => {
        if (response.ok) {
          console.log('Cart has been cleared successfully.');
        } else {
          console.error('Failed to clear the cart.');
        }
      }).catch(error => {
          console.error('Network error while trying to clear cart:', error);
      });
      
      // 5. Clear localStorage data
      localStorage.removeItem('cartDataForThankYouPage');
      localStorage.removeItem('customerDataForThankYouPage');
    }
  });
</script>

{% schema %}
{
  "name": "Page",
  "class": "page-section-spacing",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_page_title",
      "label": "Show the default page heading",
      "info": "If hidden, you should provide a primary page heading (h1 tag) in another section with h1 capability (e.g. image with overlay text, or background video) for SEO purposes.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    }
  ]
}
{% endschema %}

